extends layout

block content
  h1
    span FIF
    | ELO

  div.users
    div.user-cats
        div.user-cat-name name
        div.user-cat-rating rating
        div.user-cat-games games
        div.user-cat-wins wins
        div.user-cat-losses losses
    each user in users
      div.user
        div.user-name
          span.user-ranking
          | #{user.name}
        div.user-rating!= user.rating
        div.user-games!= user.games
        div.user-wins!= user.wins
        div.user-losses!= user.losses

  br
  br

  div.create-game
    form(action="/games", method="post")

      select(name="home")
        each user in users
          option(value=user._id)!= user.name
      input.num(name="home_score", value="home_score", type="number")

      span vs.

      input.num(name="away_score", value="away_score", type="number")
      select(name="away")
        each user in users
          option(value=user._id)!= user.name

      input.submit(type="submit", value="submit")

  div.games
    each game in games
      div.game
        div.game-date!= game.date
        div.game-results
          div.game-winner-delta (#{game.winner_delta})
          div.game-winner!= game.winner_name
          div.game-winner-score!= game.winner_score
          |--
          div.game-loser-score!= game.loser_score
          div.game-loser!= game.loser_name
          div.game-loser-delta (#{game.loser_delta})
